<!DOCTYPE html>
<html lang="ko">
<head>
  <title>와우 정보 사이트</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  
  <style type="text/css">
 
  
  body{
  
background-image : url('https://bnetcmsus-a.akamaihd.net/cms/blog_header/k7/K7STT7XHX6Y71602545553273.jpg');

background-repeat: no-repeat;
background-size: cover;
  top: 0;
  left: 0;
  z-index: -1;

    }
    


  

</style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">와우 정보사이트</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://wow.inven.co.kr">와우인벤 바로가기</a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="https://bbs.ruliweb.com/family/4454">와우루리웹 바로가기</a>
    </li>
    </nav>

<div class="container-fluid">

 <center>
     <a href="http://lycan0512.pythonanywhere.com/">

<img src="https://w.namu.la/s/3438095333cec6df934f0f578a4a18991763c3909b1acc5a18f8f2f1f254402ffe985521243b5b5228671a47101236de2f01eec64ee37adc110420fa4263af7e00a15344278d4fd083caf174dd95550f05067bf3d422fdd8610984a2ca03d85d"
 class="rounded" width="250"></a>
</center>


<table width="500" border="2" bordercolor="#696969" align="center" bgcolor="silver">
<tr>
<td align=center style="color: blue;"><strong>최신 소식</strong> </td>
</tr>
<tr>
<td onClick="location.href='https://www.inven.co.kr/board/wow/1896?category=_%EA%B8%B0%ED%83%80'">● 9.1 PTR 패치 내역(INVEN)</td>
</tr>
<tr>
<td onClick="location.href='https://bbs.ruliweb.com/family/4454/board/100159/read/9376910?cate=46'">● 9.1패치 던전 변경점(RULIWEB)</td>
</tr>
<tr>
<td onClick="location.href='https://www.wowhead.com/blue-tracker/topic/us/shadowlands-season-1-to-end-on-june-28-1001186'">● 9.1 패치 날짜 확정(WOWHEAD)</td>
</tr>
</table>




<table  width="150" border="2" bordercolor="#696969"  align="right" bgcolor="silver" 
  align = center
vertical-align = middle >
<tr>
<td align = center onClick="location.href='https://www.warcraftlogs.com'">
<p style="font-size:18px"><strong> 레이드 순위</strong>
<img src="https://assets.rpglogs.com/img/warcraft/favicon.png"></p></td>
</tr>

<tr>
<td align = center onClick="location.href='https://raider.io/'"
  align = center
vertical-align = middle
>
<p style="font-size:18px"><strong>던전 순위</strong>
<img src="https://cdnassets.raider.io/images/brand/Logo_2ColorWhite.svg">
</p>
</td>
</tr>

<tr>
<td align = center onClick="location.href='https://www.youtube.com/watch?v=DJfNfSY9fPg0'"
  align = center
vertical-align = middle
>
<p style="font-size:18px"><strong>던전 공략</strong>
<img src="https://yt3.ggpht.com/ytc/AAUvwniAK6faXBIi8cxlCskN9SzQa6dTiW5DcAl4h_I1=s48-c-k-c0x00ffffff-no-rj" width=70 >
</p>
</td>
</tr>
</table>
<p></p>
<p align="middle"></br><iframe width="1150" height="600" src="https://www.youtube.com/embed/uSq17s_NchM?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
picture-in-picture" allowfullscreen> </p>
</iframe>
</div>
</body>
</html>

